registry=https://devops.tdt.ncc/NCC/_packaging/cms_packages/npm/registry/
always-auth=true

strict-ssl=false
//devops.tdt.ncc/NCC/_packaging/pocFeed/npm/registry/:username=pocFeed
//devops.tdt.ncc/NCC/_packaging/pocFeed/npm/registry/:_password="Z2JlNHV0dm9pbm5oZGJzYWE0MmNieWtmcGNnaXVtdTd5NHZ1N25tc2R5d2VuejJxbWxjcQ=="
//devops.tdt.ncc/NCC/_packaging/pocFeed/npm/registry/:email=npm requires email to be set but doesn't use the value

/; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 5/26/2020.
; begin auth token
//devops.tdt.ncc/NCC/_packaging/cms_packages/npm/registry/:username=cms_packages
//devops.tdt.ncc/NCC/_packaging/cms_packages/npm/registry/:_password=MmdidWl0Zmg3anZlNWR5ejI1YXJkd2lzemtzNmt2cjM0ZjJxcGZvMjVlaTVkdmg2bDR0cQ==
//devops.tdt.ncc/NCC/_packaging/cms_packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//devops.tdt.ncc/NCC/_packaging/cms_packages/npm/:username=cms_packages
//devops.tdt.ncc/NCC/_packaging/cms_packages/npm/:_password=MmdidWl0Zmg3anZlNWR5ejI1YXJkd2lzemtzNmt2cjM0ZjJxcGZvMjVlaTVkdmg2bDR0cQ==
//devops.tdt.ncc/NCC/_packaging/cms_packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token